<main class="main-body">
    <section class="intro">
        <h2>Willkommen bei HyBlogs</h2>
        <hr>
        <p>Willkommen auf Juan HyBlogs! Diese Website ermöglicht es Ihnen, Ihren eigenen Blog zu erstellen 
            und zu verwalten. Hier können Sie Ihre Gedanken, Ideen und Artikel einfach teilen. Nutzen Sie die 
            Navigation oben, um zwischen den Seiten zu wechseln. Auf der "Blogs"-Seite können Sie neue Beiträge 
            hinzufügen, und unter "Contact" können Sie mit uns in Verbindung treten. Viel Spaß beim Erstellen Ihres Blogs!</p>
    </section>
</main>