.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  animation: fadeIn 0.3s ease-out;
}

.modal-content {
  background-color: #ffffff;
  padding: 40px;
  border-radius: 12px;
  width: 450px;
  max-width: 90%;
  text-align: center;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
  animation: scaleUp 0.4s ease-out;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}


h2 {
  font-size: 26px;
  color: #333;
  margin-bottom: 20px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  opacity: 0;
  animation: fadeInUp 0.4s ease-out forwards;
}

p {
  font-size: 18px;
  color: #555;
  margin-bottom: 30px;
  font-family: 'Roboto', sans-serif;
  opacity: 0;
  animation: fadeInUp 0.4s ease-out 0.2s forwards;
}

.modal-actions {
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
  opacity: 0;
  animation: fadeInUp 0.4s ease-out 0.4s forwards;
}

button {
  padding: 14px 28px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: transform 0.2s ease, background-color 0.3s ease;
  width: 150px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

button:first-child {
  background-color: #ff5c5c;
  color: white;
}

button:first-child:hover {
  background-color: #e60000;
  transform: translateY(-2px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
}

button:last-child {
  background-color: #4CAF50;
  color: white;
}

button:last-child:hover {
  background-color: #388e3c;
  transform: translateY(-2px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
}

/* Animationen */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes scaleUp {
  from {
    transform: scale(0.85);
  }
  to {
    transform: scale(1);
  }
}
