<main>
    <p-card [style]="{ width: '100%', maxWidth: '50rem', overflow: 'hidden' }">
        <ng-template #header>
            <img alt="Card" class="w-full" [src]="imageUrl" />
        </ng-template>
        <ng-template #title> Advanced Card </ng-template>
        <ng-template #subtitle> Card subtitle </ng-template>
        <p-button label="Toggle Dark Mode" (onClick)="toggleDarkMode()"/>
        
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae
            numquam deserunt
            quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque
            quas!
    </p-card>
    
</main>