h1 {
    font-size: 28px;
    margin: 0;
    color: white;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f7f9; /* Soft background */
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    display: flex;
    justify-content: space-between; /* Space between logo+title and navbar */
    align-items: center;
    background-color: #6fa3ef; /* Soft blue */
    color: white;
    padding: 15px 20px;
    border-radius: 10px;
    max-width: 980px;
    width: 100%;
    margin: 20px auto;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

#logo {
    width: 30px;
    height: 30px;
}

.logo {
    display: flex;
    align-items: center; /* Vertically center logo & title */
    gap: 10px;
}

main {
    max-width: 980px;
    width: 100%;
    background: white;
    padding: 20px;
    border-radius: 10px;
    margin:  auto;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.navbar a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 16px;
    transition: color 0.3s ease-in-out;
    padding: 10px 0;
}

.navbar a:hover {
    color: white;
}

.navbar li {
    padding: 10px 20px;
    display: block;
    width: 100%;
    cursor: pointer;
    text-align: center;
}

.navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.navbar li:hover {
    background-color: #6fa3ef;
    border-radius: 8px;
}
.navbar {
    background-color: #e3eaf5;
    border-radius: 10px;
    padding: 10px 0;
    max-width: 980px;
    width: 100%;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #6fa3ef;
    color: white;
    text-align: left;
    padding: 10px 20px;
    font-size: 14px;
    position: relative;
    bottom: 0;
    width: 100%;
    max-width: 980px;
    margin: 0 auto;
    box-shadow: 0px -4px 8px rgba(0, 0, 0, 0.1);
}

footer hr {
    margin: 10px 0;
    border-color: white;
}
