<header>
    <div class="logo">
        <img [src]="logoUrl" alt="HyBlogs Logo" width="40">
        <h2>uan HyBlogs</h2>
    </div>
    <div class="navbar">
        <nav class="navbar-nav" aria-label="breadcrumb">
            <ul role="list">
                <li><a routerLink="/" role="link" routerLink>Home</a></li>
                <li><a routerLink="/artikelmenu">Blogs</a></li>
                <li><a routerLink="/contact">Contact</a></li>
                <li><a href="#">Erweiterungen</a></li>
            </ul>
        </nav>
    </div>
</header>