.blog-overview {
    max-width: 980px;
    margin: 20px auto;
    padding: 20px;
}

.blog-post {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
}

.blog-post h3 {
    color: #333;
}

.blog-post .read-more {
    color: #0073e6;
    text-decoration: none;
}

.blog-post .read-more:hover {
    text-decoration: underline;
}

.new-blog {
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.myH2{
    font-size: 28px;
    color: #333;
    margin-bottom: 15px;    
}

.new-blog form{
    display: flex;
    flex-direction: column;
}

.new-blog label{
    font-size: 16px;
    font-weight: bold;
    margin: 10px 0 5px;
}

.new-blog input,
.new-blog textarea {
    width: 95%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
}

.new-blog button {
    margin-top: 15px;
    padding: 10px 15px;
    font-size: 18px;
    background-color: #6fa3ef; 
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.new-blog button:hover {
    background-color: #005bb5;
}