
/* Intro Section */
.intro {
    text-align: center;
    padding: 20px;
    background-color: #f0f7ff;
}
.intro h3 {
    font-size: 24px;
    margin-bottom: 15px;
    color: #6fa3ef;
}
.intro p {
    font-size: 21px;
    color: #555;
    line-height: 1.6;
    max-width: 800px;
    margin: 0 auto;
}
